<div class="row" style="margin-top: 10px">
  <article
    *ngFor="let item of shortcuts$ | async"
    class="text-dark col-md-6 offset-md-3 bg-light"
    style="border-radius: 10px; margin-top: 20px"
  >
    <div style="margin: 15px 15px 0px 15px">
      <a
        [routerLink]="['detail']"
        [queryParams]="{ shortcutType: shortcutType, id: item.id }"
        routerLinkActive="router-link-active"
        class="text-dark"
        href=""
        style="font-size: 30px"
        >{{ item.title }}</a
      >
    </div>
    <span
      style="
        background-color: rgb(240, 240, 240);
        margin-left: 15px;
        border-radius: 5px;
        padding: 0px 5px;
        font-size: 15px;
      "
      >{{ item.date }}</span
    >
    <hr />
    <div *ngIf="item.memo.length" style="margin: 15px">
      <ul>
        <li *ngFor="let memo of item.memo">{{ memo }}</li>
      </ul>
    </div>
  </article>
</div>
