<div class="row" style="margin-top: 10px">
  <article
    *ngFor="let item of test"
    class="text-dark col-md-6 offset-md-3"
    style="background-color: white; border-radius: 10px; margin-top: 10px"
  >
    <div style="background-color: yellow; margin: 15px 15px 0px 15px">
      <a class="text-dark" href="" style="font-size: 30px">header</a>
    </div>
    <span
      style="background-color: hotpink; margin-left: 15px; border-radius: 5px"
      >123</span
    >
    <hr />
    <div style="background-color: green; margin: 15px">shortcut</div>
  </article>
</div>
