<div class="d-flex" [ngClass]="{ toggled: closeSideBar }" id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="page-content-wrapper" (window:resize)="onResize($event)">
    <nav class="navbar navbar-expand-lg" style="padding-left: 10px">
      <button class="navbar-toggler" (click)="toggleSideBar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    <div style="padding: 10px; margin: 5px; text-align: center; font: 15px">
      <hr />
      聯絡我 : bu9noteblog@gmail.com
      <br />
      Bu9 © 2021.
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
