<div class="bg-dark border-right text-light" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a
      class="list-group-item list-group-item-action bg-dark text-light"
      href="#"
      >Over Loading</a
    >
  </div>
  <div class="list-group list-group-flush">
    <a
      [routerLink]="['']"
      [queryParams]="{ shortcutType: item.shortcutType }"
      routerLinkActive="router-link-active"
      class="list-group-item list-group-item-action side-bar-font-size"
      *ngFor="let item of sideBarItem"
      (click)="clickNavBar(item.id)"
      [ngClass]="{ selected: selectedId === item.id }"
      ><fa-icon
        [style.margin-left.px]="item.marginHori"
        [style.margin-right.px]="item.marginHori"
        [icon]="item.icon"
      ></fa-icon>
      <font>
        {{ item.name }}
      </font>
    </a>
  </div>
</div>
